*{
    font-family: 'Explora', cursive;
    font-family: 'Indie Flower', cursive;
    font-style: italic;
    font-weight: bolder;
}
body{
    background: linear-gradient(150deg, rgba(255,255,255,1) 0%, rgba(128,208,199,1) 53%, rgba(0,147,233,1) 100%);   
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
}

.p1{
    justify-content: center;
    text-align: center;
    align-items: center;
    overflow: hidden;
    background: inherit;
    backdrop-filter: blur(50px);
    margin-left: 24%;
    position: absolute;
    height:50%;
    width: 50%;
    border-radius: 15px;
    border: 1px solid rgba(12, 12, 12, 0.126);
   
    content: '';
    box-shadow: inset 0 0 0 3000px rgba(255, 250, 250, 0.319);   

}
img{
    display: flex;
    margin-left: 28%;
    margin-top: 5%;
}
@keyframes h1{
    20%{
        color: rgb(0, 208, 184);
    }
    20%{
        color:rgba(128,208,199,1);
        
    }
    60%{
        color: white;
    }
    
    
}
h1{
    display: flexbox;
    margin-top: -3%;
    margin-left: -3%;
    animation-name: h1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    font-weight: bolder;
    color:  black;
}
.p2{
    justify-content: center;
    text-align: center;
    align-items: center;
    overflow: hidden;
    background: inherit;
    backdrop-filter: blur(50px);
    margin-left: 24%;
    margin-top: 40%;
    height:60%;
    width: 50%;
    border-radius: 15px;
    border: 1px solid rgba(12, 12, 12, 0.126);
    content: '';
    box-shadow: inset 0 0 0 3000px rgba(255, 250, 250, 0.319);   
    padding-right: 2px;
    padding-left: 2px;
    position: absolute;
   

}
.p3{
    justify-content: center;
    text-align: center;
    align-items: center;
    overflow: hidden;
    background: inherit;
    backdrop-filter: blur(50px);
    margin-left: 24%;
    margin-top: 80%;
    height:60%;
    width: 50%;
    border-radius: 15px;
    border: 1px solid rgba(12, 12, 12, 0.126);
    content: '';
    box-shadow: inset 0 0 0 3000px rgba(255, 250, 250, 0.319);   
    padding-right: 2px;
    padding-left: 2px;
    position: absolute;
   

}
.input{
    font-size: large;
    border-radius: 5px;
    box-shadow: none;
    cursor: pointer;
    width: 52px; 
    height: 29px; 
    margin-left: 730px;;
    margin-top: 1750px;;
    margin-bottom:68px; 
}
